//Fonts
@import url('http://fonts.cdnfonts.com/css/netflix-sans');

//Variables
@import "./variables.scss";

//reset
*{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

//body
body{
    background-color: $Bg_body;
    font-family: 'Netflix Sans', sans-serif;
}

//Header
header{
    background-color: $Bg_header;
}
