@import "./variables.scss";
//reset
*{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

//body
body{
    background-color: $Bg_body;  
}

//Header
header{
    background-color: $Bg_header;
}
